extend ../layout

block content

  // Dashboard (Parent Block)
  .dashboard

    // Dashboard Sidebar (Block)
    .dashboard-sidebar

      // Brand (Element)
      .dashboard-sidebar__brand
        h1=name

      // Dashboard Nav (Block)
      .dashboard-nav: ul

        // Item:Active (Element:Modifier)
        li.dashboard-nav__item.dashboard-nav__item--active: a(href='#home'
                                  data-target='home') Home

        // Item (Element)
        li.dashboard-nav__item: a(href='#about'
                                  data-target='about') About

    // Dashboard Content (Block)
    .dashboard-content

      // Panel:Active (Element:Modifier)
      .dashboard-content__panel.dashboard-content__panel--active(data-panel='home')
        form#form(method='get'
                  action='')

          .input-group
            input(type='text'
                  id='form__child_theme_name'
                  placeholder='Theme Name'
                  required='')
            label(for='form__child_theme_name') Theme Name

          .input-group
            input(type='text'
                  id='form__child_theme_url'
                  placeholder='Theme Name Url'
                  required='')
            label(for='form__child_theme_url') Theme URL

          .input-group
            input(type='number'
                  id='form__version'
                  placeholder='Version'
                  required='')
            label(for='form__version') Version

          .input-group
            input(type='text'
                  id='form__parent_theme_name'
                  placeholder='Parent Theme Name'
                  required='')
            label(for='form__parent_theme_name') Parent Theme

          .input-group
            input(type='text'
                  id='form__author_name'
                  placeholder='Author'
                  required='')
            label(for='form__author_name') Author

          .input-group
            input(type='text'
                  id='form__author_url'
                  placeholder='Author Url'
                  required='')
            label(for='form__author_url') Author URL

          .input-group
            button(type='submit'
                   id='form__button') Create

      // Panel (Element)
      .dashboard-content__panel(data-panel='about')

        .dashboard-content__wrap
          h3 Who Am I?
          p Hello, I am Andy. I am currently Elegant Themes' front-end website developer. When I'm not in office, you can find me spending countless hours on <a href='codepen.io/andytran/'>CodePen</a> where I create interactive demos.

          h3 Why Build This?
          p I wanted to contribute to the community, so I spent about an hour creating this. Also, I wanted to try out some new concepts and this was the perfect opportunity!

          h3 When Did This Idea Come To Mind?
          p I was going through facebook before I got started on my work and I saw that there was some Child Theme Builders by 2 skilled individuals.

          h3 Fun Fact?
          p Honestly, I never knew how easy it was to build a generator.